* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* This is background color for whole website */
body {
    background-color: black;
}

button {
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

/* This is for top most background and style */
.main {
    background-image: url(assets/Backgrounds/bg.jpg);
    height: 100vh;
    background-size: max(1650px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}

.shadow {
    height: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 18px 71px 40px black;
}

.main .box {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.75;
    position: absolute;
    top: 0;
}

.main nav {
    top: 20px;
    max-width: 80vw;
    padding-bottom: 30px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
}

.main nav .button {
    display: flex;
    gap: 25px;
}

.main nav .button_1 {
    font-size: 22px;
    background-color: transparent;
    color: white;
    width: 165px;
    height: 40px;
    border: 1px solid #FEFEFE;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main nav .button_2 {
    font-size: 24px;
    height: 40px;
    width: 160px;
    border-radius: 7px;
    background-color: red;
    color: white;
    border: none;
}


/* This is text and their syle for top most backround */
.bg_text {
    color: white;
    height: calc(93vh - 85px);
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin: auto;
    gap: 25px;
    text-align: center;
    padding: 0;
}

.bg_text .first {
    font-size: 65px;
    font-weight: bold;
    padding: 0px 50px;
}

.bg_text .second,
.bg_text .third {
    font-size: 20px;
}

.bg_text input {
    width: 400px;
    height: 70px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    border: 1px solid #7a7a7a8c;
    background-color: #000000a1;
    border-radius: 7px;
}

.bg_text div button {
    width: 175px;
    height: 55px;
    background-color: red;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg_text div button:hover {
    background-color: rgb(175, 2, 2);
}

.bg_text div {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center
}

/* This is Ellipse sepretion style */
.sepretion {
    background-image: url(assets/Backgrounds/Ellipse.png);
    width: 100%;
    height: 25%;
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* This is for Trending now & a button (Movies) */
.content {
    color: white;
    padding-top: 90px;
    padding-left: 8vw;
}

.content .text {
    font-size: 33px;
    padding-bottom: 20px;
}

.content button {
    display: flex;
    height: 40px;
    width: 170px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid #CCCCCC;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

/* This is simply for showing above the Ellipse image */
.main_content {
    position: relative;
    z-index: 5;
    margin-top: 175px;
}

/* This is for Movies list */
.items ul {
    padding-top: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.items ul li {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.items ul li .num {
    height: 70px;
    position: absolute;
    padding-bottom: 40px;
}

.items ul li:hover {
    transform: scale(1.1);
}

.items ul li .image {
    padding-left: 15px;
    padding: 10px;
}

/* This is for content description */
.description {
    color: white;
}

.description .text {
    padding: 50px 6vw;
    font-size: 40px;
}

.description ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.description li {
    position: relative;
    display: flex;
    background-image: url(assets/Backgrounds/Rectangle.png);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    height: 275px;
    width: 275px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.description li .head {
    font-size: 24px;
    padding-bottom: 30px;
}

.description li .p {
    font-size: 16px;
    color: #b4b2bb;
}

.description li img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* This is for Frequently Asked Questions */
.faq {
    color: #ffffff;
}

.faq .head {
    font-size: 32px;
    padding: 50px;
}

.faq ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.faq ul li {
    background-color: #2d2d2d;
    font-size: 24px;
    margin: 0px 50px;
    box-sizing: border-box;
    padding: 30px;
}

.faq ul .first {
    padding: 0px;
}

.faq ul li .q {
    padding: 30px;
}

.faq ul li .line {
    width: 100%;
    background-color: black;
    height: 5px;
}

.faq ul li .a {
    padding: 20px;
    font-size: 20px;
}

.faq ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq ul .first {
    display: block;
}

.faq ul .li img {
    padding: 0px 35px;
}

.faq ul .li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* This is for Input email in bottom */
.l_email {
    margin: 50px 0px;
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.l_email .head {
    font-size: 20px;
    padding: 0px 30px;
}

.l_email button {
    color: white;
    background-color: red;
    border: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
}

.l_email div {
    display: flex;
    gap: 14px;
}

.l_email input {
    width: 350px;
    height: 55px;
    border: 1px solid #A7A7A7;
    background-color: #0f0f0f;
    color: #b7b7b7;
    font-size: 20px;
    border-radius: 7px;
    padding-left: 20px;
    box-sizing: border-box;
}

.l_email .info {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* This is for footer */
footer {
    color: #b3b3b3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
}

footer .call {
    font-size: 20px;
    padding: 40px 10vw;
}

footer .number {
    text-decoration: underline;
}

footer .list ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;
    margin: auto;
}

footer .list ul li {
    width: 250px;
    font-size: 16px;
}

footer button {
    background-color: black;
    border: 1px solid white;
    color: white;
    display: flex;
    font-size: 16px;
    width: 105px;
    height: 30px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 10vw;
}

footer .author {
    padding: 0px 10vw;
    margin-bottom: 200px;
}

@media only screen and (max-width:655px) {
    .bg_text .first {
        font-size: 55px;
    }

    .content {
        color: white;
        padding-top: 60px;
        padding-left: 8vw;
    }

}